<div class="wrapper">
  <app-layout-a></app-layout-a>
  <div class="content-wrapper">
    <section class="content-header">
      <h1>
        Ventas
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Inicio</a></li>
        <li class="active">Ventas</li>
      </ol>
    </section>
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
              <div style=" overflow-x: scroll;" >
              <table 
                mat-table
                [dataSource]="dataSource"
                matSort
                class="mat-elevation-z8"
              >
                <ng-container matColumnDef="id" >
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
                  <td mat-cell *matCellDef="let row">{{ row.id }}</td>
                </ng-container>
                <ng-container matColumnDef="user">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>USUARIO</th>
                  <td mat-cell *matCellDef="let row">{{ row.user.username }}</td>
                </ng-container>
                <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>NOMBRE</th>
                  <td mat-cell *matCellDef="let row">{{ row.user.first_name }} {{ row.user.last_name }}</td>
                </ng-container>
                <ng-container matColumnDef="total">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>TOTAL</th>
                  <td mat-cell *matCellDef="let row">{{ row.total  | currency}}</td>
                </ng-container>
                <ng-container matColumnDef="total_qty">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>CANTIDAD</th>
                  <td mat-cell *matCellDef="let row">{{ row.total_qty }}</td>
                </ng-container>
                <ng-container matColumnDef="created_at">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header >CREADO</th>
                  <td mat-cell *matCellDef="let row">{{ row.created_at }}</td>
                </ng-container>
                <ng-container matColumnDef="modified_at">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>MODIFICADO</th>
                  <td mat-cell *matCellDef="let row">{{ row.modified_at }}</td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns" ></tr>
              </table>

              </div>
              <mat-paginator 
                [pageSizeOptions]="[5, 10, 25, 50, 100]"
                (page)="announceSortChange($event)"
              ></mat-paginator>
          </div>
        </div>
      </div>
    </section>
  </div>
  <app-footer-a></app-footer-a>
</div>