<div class="wrapper">
    <app-layout-a></app-layout-a>
  
    <div class="content-wrapper">
      <section class="content-header">
        <h1>
          Productos
        </h1>
        <ol class="breadcrumb">
          <li><a href="#"><i class="fa fa-dashboard"></i> Inicio</a></li>
          <li class="active">Productos</li>
        </ol>
      </section>
  
      <section class="content">
        <div class="row">
            <div *ngFor="let product of products" class="col-md-2 col-sm-4">
                <div class="single-shop-product text-center">
                    <div class="product-upper">
                        <img src="../../../assets/images/products/{{product.url_image}}" alt="">
                    </div>
                    <h2>{{product.name}}</h2>
                    <div class="product-carousel-price">
                        <ins>{{product.price | currency}}</ins>
                    </div>    
                    <h3>Cantidad {{product.qty}}</h3>
                          
                </div>
            </div>
        </div>
      </section>
    </div>
    <app-footer-a></app-footer-a>
  </div>