
<app-layout></app-layout>
<div class="product-big-title-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="product-bit-title text-center">
                    <h2>Bienvenido a Nuestra Tienda </h2>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="single-product-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <app-products class="row"></app-products>  
    </div>
</div>
<app-footer></app-footer>